html, body {
    border: 1px;
    height: 100%;
    width: 100%;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=34687), auto;
    padding: 0; margin: 0; /* reset the default stylesheet */
}

header, footer {
    clear: left;
    text-align: center;
    margin:0px;
    border-bottom: 1px solid black;
}

nav {
    float: left;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul a {
    text-decoration: none;
    display: block;
    padding: 5px;
    width: 6em;
    margin: 5px;
    border:1px solid black;
    background: black;
    color: white;
}

.choice {
	padding:10px;
	border: 2px solid black;
	background: grey;
	color: white;
}

.btn{
  display: block;
  border:none;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=34688), auto;
  color:#0000EE;
  padding: 8px 15px;
  width: 7em;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  font-family:inherit;
  font-size:inherit;
}

.disabled {
    opacity: 0.6;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=41121), auto;
}

.btn_submit{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=91328), auto;
  display: block;
  border:none;
  color:#0000EE;
  padding: 5px 5px;
  width: 8em;
  height: 4em;
  border: none;
  background: black;
  color: white;
  font-family:inherit;
  font-size:inherit;
}

.btn_submit_left{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=106388), auto;
  display: block;
  border:none;
  color:#0000EE;
  padding: 5px 5px;
  width: 8em;
  height: 4em;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  font-family:inherit;
  font-size:inherit;

}

.btn_submit_right{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=106387), auto;
  display: block;
  border:none;
  color:#0000EE;
  padding: 5px 5px;
  width: 8em;
  height: 4em;
  border: none;
  background: black;
  color: white;
  font-family:inherit;
  font-size:inherit;
}

#eloTable {
  border-collapse: collapse;
  float: left;
  display: inline-block;
  padding: 2px 4px 2px 4px;
}

#eloTable td, #eloTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#eloTable tr:nth-child(even){background-color: #f2f2f2;}

#eloTable tr:hover {background-color: #ddd;}

#eloTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
#eloTable caption {
  padding-left: 10px;
  background: #2a2a2b;
  font-size: 1.5em;
  text-align: left;
  color: white;
}

main {
    float: left;
    border-left: 1px solid gray;
    padding: 1em;
}
